/* Global */

body {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  background-color: teal;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
}

h3 {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: red;
}

p {
 font-size: 16px;
}

input {
  font-size: 24px;
}

input[type=text] {
  color: #424547;
  border: 1px solid #c2c2c2;
  background-color: white;
}

em {
  font-style: normal;
  font-weight: bold;
  width: 200px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f52f0c;
  
}

/* Chat */
#messagesDiv {
  background-color: #fAf8f8;
  overflow: auto;
  height: 330px;
  width: 100%;
  padding: 10px;
  border: 1px solid #fAf8f8;
  border-radius: 8px;
  margin-bottom: 5px;
  text-align: left;
}

#nameInput {
  width: 26%;
}

#messageInput {
  width: 68%;
}